body,
* {
    font-family: Helvetica Neue,
        Arial,
        sans-serif;
    font-size: 18px;
    height: 100%;
    width: 100%;
}

/* =============================================Page 1 Style CSS start=================================================== */
.mhPage1Background {
    background-image: url(../img/image/Hero-image.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
}


/* page1 left side style */
.mhPage1Left {
    height: auto;
    bottom: 0;
    margin-bottom: 50px;
    left: 0;
    padding-left: 5% !important;
}



.mhpage1LeftText {
    height: 112px;
    width: 100%;
    font-size: 80px;
    text-align: left;
    color: #fff;
}

.mhpage1Leftbutton {
    height: 80px;
    width: 230px;
    background-color: #D10D74;
    border-radius: 53px;
    opacity: 1px !important;
    color: #fff;
    font-size: 40px;
    align-items: center;
    border: 0ch;
}

/* page1 right side style */
.mhPage1Right {
    height: auto;
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
    right: 0;
    padding-left: 5% !important;
}

.mhpage1RightText {
    height: 112px;
    width: 100%;
    font-size: 80px;
    text-align: left;
    color: #fff;
}

.mhpage1Rightbutton {
    height: 80px;
    width: 230px;
    background-color: #fff;
    border-radius: 53px;
    opacity: 1px !important;
    color: #D10D74;
    font-size: 40px;
    align-items: center;
    border: 0ch;
}

.mhpage1LeftButtondiv,
.mhpage1RightTextdiv,
.mhpage1LeftButtondiv,
.mhpage1LeftTextdiv {
    height: auto;
}

/* =============================================Page 1 Style CSS end=================================================== */

/* =============================================Page 2 Style CSS start=================================================== */

.mhPage2Background {
    background-image: url(../img/SVG/black-dotline.svg);
}

.mhPage2ParentDiv {
    height: auto;
    width: 100%;

}

.mhPage2childDiv {
    padding-left: 123px;
    padding-right: 123px;
}

.mhpage2Header {
    margin-top: 60px;
}

.mhPage2FirstHead {
    height: auto;
}

.mhPage2SecondHead {
    height: auto;
    border-bottom: 1px solid #D10D74 !important;

    border-color: #D10D74;
}

.mhPage2FirstHeadText {
    font-size: 80px;
    font-weight: bold;
    height: 101px;
    color: #4D4F53;
    opacity: 1 !important;
}

.mhPage2SecondHeadText {
    font-size: 40px;
    height: 47px;
    color: #4D4F53;
    opacity: 1 !important;
}

.mhPage2SeconHeadRed {
    font-size: 40px;
    height: 35px;
    color: #D10D74;
    opacity: 1 !important;
    width: 192px;
}


/* .mhPage2Grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    height: auto;
    margin-top: 63px;
} */

.mhPage2Grid {
    margin-top: 63px;
    max-width: 1638px;
    height: 363px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 88px;
    column-gap: 85px;
}

.mhPage2GridRow1,
.mhPage2GridRow2,
.mhPage2GridRow3 {
    display: flex;
    flex-direction: row;
}

.grid-item {
    display: flex;
}

/* .mhPage2GridItem2,
.mhPage2GridItem3,
.mhPage2GridItem4,
.mhPage2GridItem5,
.mhPage2GridItem7,
.mhPage2GridItem8,
.mhPage2GridItem9,
.mhPage2GridItem10,
.mhPage2GridItem12,
.mhPage2GridItem13,
.mhPage2GridItem14 {
    margin-left:85px ;
} */

/* .mhPage2GridItem6,
.mhPage2GridItem7,
.mhPage2GridItem8,
.mhPage2GridItem9,
.mhPage2GridItem10,
.mhPage2GridItem11,
.mhPage2GridItem12,
.mhPage2GridItem13,
.mhPage2GridItem14 {
    margin-top: 88px;
} */


.mhPage2GridImg1,
.mhPage2GridImg2,
.mhPage2GridImg3,
.mhPage2GridImg4,
.mhPage2GridImg5,
.mhPage2GridImg6,
.mhPage2GridImg7,
.mhPage2GridImg8,
.mhPage2GridImg9,
.mhPage2GridImg10,
.mhPage2GridImg11,
.mhPage2GridImg12,
.mhPage2GridImg13,
.mhPage2GridImg14 {
    height: 53px;
    width: 46px;
    opacity: 100% !important;
}

.mhPage2GridText1,
.mhPage2GridText2,
.mhPage2GridText3,
.mhPage2GridText4,
.mhPage2GridText5,
.mhPage2GridText6,
.mhPage2GridText7,
.mhPage2GridText8,
.mhPage2GridText9,
.mhPage2GridText10,
.mhPage2GridText11,
.mhPage2GridText12,
.mhPage2GridText13,
.mhPage2GridText14 {
    margin-left: 20px;
    width: 192px;
    height: 62px;
    font-size: 24px;
    color: #404040;
}

.mhPage2GridImageSpan1,
.mhPage2GridImageSpan2,
.mhPage2GridImageSpan3,
.mhPage2GridImageSpan4,
.mhPage2GridImageSpan5,
.mhPage2GridImageSpan6,
.mhPage2GridImageSpan7,
.mhPage2GridImageSpan8,
.mhPage2GridImageSpan9,
.mhPage2GridImageSpan10,
.mhPage2GridImageSpan11,
.mhPage2GridImageSpan12,
.mhPage2GridImageSpan13,
.mhPage2GridImageSpan14 {
    width: auto;
}

/* .mhPage2child2Div {
    border: 0px;
    position: fixed;
    bottom: 0px;
    height: auto;
}

.mhPage2footerButton {
    border: 0px;
    background-color: #D10D74;
    color: #fff;
    height: 80px;
    font-size: 30px;
}

.fotterbuttonImage{
    width: 299px;
    height: 175px;
    position: relative;
    margin-bottom: -80px;
} */

.mhPage2fotterParent {
    border: 0px;
    background-color: #D10D74;
    color: #fff;
    height: 70px;
    font-size: 30px !important;
    position: fixed;
    bottom: 0px;
    text-align: center;
    z-index: 9;
}

.mhPage2footerText {
    height: 45px;
    margin: auto;
    width: 50%;
    text-align: center;
}

.mhPage2footerImage {
    width: 299px;
    height: 175px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    margin-left: 123px;
    transform: skewX(-10deg);
}

.mhPage2Imagediv {
    position: fixed;
    top: 0px;
    z-index: 10;
}